/* Common styles */

/* Resetting default margin and padding */
body,
h1,
p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header styles */
.header {
    background-color: #333;
    color: white;
    padding: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    list-style: none;
    display: flex;
}

.links li {
    margin-right: 20px;
}

.hamburger-icon {
    width: 30px;
    height: auto;
    cursor: pointer;
}

/* Hero section styles */
.hero-section {
    display: flex;
    flex-wrap: wrap;
    /* Ensure items wrap on smaller screens */
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left,
.right {
    width: 100%;
    text-align: center;
}

.left {
    order: 2;
    /* Change the order on smaller screens */
}

.right {
    order: 1;
    /* Change the order on smaller screens */
    margin-top: 20px;
    /* Add margin for separation */
}

.hero-text {
    max-width: 100%;
    padding: 0 20px;
    /* Add padding for better readability */
}

.img {
    width: 100%;
    height: auto;
}

/* Media queries for responsiveness */
@media screen and (min-width: 768px) {

    /* Tablet styles */
    .hero-text {
        max-width: 50%;
    }

    .right {
        max-width: 50%;
    }
}

@media screen and (min-width: 1024px) {

    /* Desktop styles */
    .hero-text {
        max-width: 40%;
    }

    .right {
        max-width: 60%;
    }
}